@page "/specifikMaterial/{id}"


<PageTitle>SpecifikMaterial </PageTitle>


<h1> The chosen materials id is @Id </h1>


@if (material == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1> @material.Title</h1>
    <h2>@material.Reating</h2>
    <p>@material.Decription</p>
    <ul>
        @foreach (var tag in material.Tags)
        {
            <li>@tag</li>

        } 

    </ul>



    <p>Open a PDF file <a href="MaterialsData/test.pdf">example</a>.</p>
    <h1>PDF Example with iframe</h1>
        <iframe src="MaterialsData/test.pdf" width="80%" height="1000px">
        </iframe>

    @* <table class="table">
            <thead>
                <tr>
                    <th>Material Id</th>
                    <th>Title</th>
                    <th>Decription</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in recommendedMaterial)
                {
                    <tr>
                        <td>@material.Id</td>
                        <td>@material.Title</td>
                        <td>@material.Decription</td>
                        <td>
                            <ul>
                                @foreach (var tag in material.Tags)
                                {
                                    <li>
                                        @tag
                                    </li>
                                }
                            </ul> 
                        </td>
                        <td><button class="btn btn-info">View</button></td>
                    </tr>
                }
            </tbody>
        </table> *@
    @* @foreach (var comment in comments)
    {

    }  *@
}

@code {

  [Parameter]
    public string Id { get; set; }
public Material material = null;

public List<Material> recommendedMaterial{ get; set; }


    protected override async Task OnInitializedAsync()
    {
       material = await SpecifikMaterialSetup.setUptestasync(Id);


    }
}
