@page "/table"
@inject NavigationManager NavigationManager

<h3>Table</h3>
@* This is Only for testing remove once the materials are generated *@
<EditForm Model="@newMaterial" OnValidSubmit="AddMaterial">
    <InputNumber @bind-Value="newMaterial.Id"/>
    <InputText  @bind-Value="newMaterial.Title"/>
    <InputText  @bind-Value="newMaterial.Decription"/>
    <button type="submit">Add Material</button>

</EditForm>
<div class="container">
    <h1>@_selected</h1>
    @foreach (var row in materialList)
    {

        <div class="row g-2 text-break">
           
                <div @onclick="() => ChosenMaterial(row.Id)" class="col border bg-light text-center">
                    <div class="IndentContainer">
                      @row.Id
                    </div>
                </div>
                <div @onclick="() => ChosenMaterial(row.Id)" class="col border bg-light text-center">
                    <div class="IndentContainer">
                        <h3>@row.Title</h3>
                        
                    </div>
                </div>
                <div  @onclick="() => ChosenMaterial(row.Id)" class="col border bg-light text-center">
                    <div class="IndentContainer">
                       <p> @row.Decription</p>
                   
                    </div>
                </div>
           
            <div class="col border bg-light">
                <ul class="IndentContainer">
                    @foreach (var tag in row.Tags)
                    {
                        <li @onclick="() => ChosenTag(tag)">
                             @tag
                        </li>
                    }
                </ul>
            </div>

        </div>
    }

</div>

@code{
   private List<Material> materialList = new List<Material>();
   private Material newMaterial = new Material();
   private string _selected = "None";

    private void AddMaterial()
    {
        materialList.Add(newMaterial);
        newMaterial = new Material();
    }

    private void ChosenMaterial(int MaterialID)
    {
        var x = MaterialID;
        _selected = $"{MaterialID}";
        NavigationManager.NavigateTo("specifikMaterial/"+@_selected);
    }
     private void ChosenTag(String Tag)
    {
        var x = Tag;
        _selected = $"{Tag}";
    }



}