@page "/table"
@inject NavigationManager NavigationManager

<h3>Table</h3>
@* This is Only for testing remove once the materials are generated *@
<EditForm Model="@newMaterial" OnValidSubmit="AddMaterial">
    <InputNumber @bind-Value="newMaterial.Id"/>
    <InputText  @bind-Value="newMaterial.Title"/>
    <InputText  @bind-Value="newMaterial.Decription"/>
    <button type="submit">Add Material</button>

</EditForm>
@if (materialList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Material Id</th>
                <th>Title</th>
                <th>Decription</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in materialList)
            {
                <tr>
                    <td>@material.Id</td>
                    <td>@material.Title</td>
                    <td>@material.Decription</td>
                    <td>
                        <ul>
                            @foreach (var tag in material.Tags)
                            {
                                <li>
                                    @tag
                                </li>
                            }
                        </ul> 
                    </td>
                    <td><button class="btn btn-info" @onclick="@(() => ChosenMaterial(material.Id))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
   private List<Material> materialList = new List<Material>();
   private Material newMaterial = new Material();
   private string _selected = "None";

    private void AddMaterial()
    {
        materialList.Add(newMaterial);
        newMaterial = new Material();
    }

    private void ChosenMaterial(int MaterialID)
    {
        var x = MaterialID;
        _selected = $"{MaterialID}";
        NavigationManager.NavigateTo("specifikMaterial/"+@_selected);
    }
     private void ChosenTag(String Tag)
    {
        var x = Tag;
        _selected = $"{Tag}";
    }



}