@page "/table"
@using Infrastructure
@inject NavigationManager NavigationManager

@if (materialList == null)
{
    <h2>Searching for @SearchString</h2>
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Material Id</th>
                <th>Title</th>
                <th>Decription</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in materialList)
            {
                <tr>
                    <td>@material.Id</td>
                    <td>@material.Name</td>
                    <td>@material.Description</td>
                    <td>
                        <ul>
                            @foreach (var tag in material.Tags)
                            {
                                <li>
                                    @tag.TagName
                                </li>
                            }
                        </ul>
                    </td>
                    <td><button class="btn btn-info" @onclick="@(() => ChosenMaterial(material.Id))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{


    [Parameter]
    public String SearchString { get; set; }


    private List<DetailsMaterialDTO> materialList = null;

    private void ChosenMaterial(int MaterialID)
    {
        NavigationManager.NavigateTo("specifikMaterial/"+MaterialID);
    }
   protected override async Task OnInitializedAsync()
    {
       //materialList = await SearchEngine.SearchMaterialsByName(@SearchString);
    }


}